<div class="news-list-wrapper">
  <div class="news-list">
    <app-news-item *ngFor="let newsItem of news" [newsItem]="newsItem"></app-news-item>
  </div>
  <div *ngIf="news?.length > 0" class="navigation">
    <div>
        <button (click)="previousPage()" class="navigation__control navigation__control--previous" [disabled]="!isPreviousAvaiable()">
            <i class="fas fa-arrow-alt-circle-left navigation__arrow navigation__arrow--left"></i>
            BACK
        </button>
    </div>
    <div>
        <button (click)="nextPage()" class="navigation__control navigation__control--next" [disabled]="!isNextAvaiable()">
            NEXT
            <i class="fas fa-arrow-alt-circle-right navigation__arrow navigation__arrow--right"></i>
        </button>
    </div>
  </div>
</div>