<div class="search-form">
  <!-- <div class="form-switch">
    <div class="form-switch--control">
      <label>Country and Category</label>
      <input type="radio" name="switch" checked (change)="countrySwitch = true">
    </div>
    <div class="form-switch--control">
      <input type="radio" name="switch" (change)="countrySwitch = false">
      <label>Sources</label>
    </div>
  </div> -->
  <div>
    <p>Find Your Article of the Day</p>
  </div>

  <div class="form-switch">
    <div class="onoffswitch">
        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
        <label class="onoffswitch-label" for="myonoffswitch">
            <span class="onoffswitch-inner"></span>
            <span class="onoffswitch-switch"></span>
        </label>
    </div>
    <div class="form-switch__label">
      <span class="form-switch__option">country & category</span><span class="form-switch__divider">/</span><span class="form-switch__option">sources</span>
    </div>
  </div>

  
  <form [formGroup]="searchFormSources" (ngSubmit)="onSubmitSources()" *ngIf="!countrySwitch" class="form">
    <div formGroupName="parameters" class="form--group">
      <div class="form__control">
        <label for="sources" class="form__label">sources (spearate by comma)</label>
        <input #sources id="sources" formControlName="sources" type="text" class="form__input"> 
      </div>
      <div class="form__control">
        <label for="Phrase" class="form__label">phrase</label>
        <input id="Phrase" formControlName="q" type="text" class="form__input">
      </div>
    </div>
    <!-- <div class="form__control">
      <label for="pageSize" class="form__label">page size :</label>
      <input id="pageSize" formControlName="pageSize" type="number" class="form__input">
    </div> -->
    <div class="form__button-wrap">
      <button type="submit" [disabled]="!searchFormSources.valid" class="form__button">send</button>
    </div>
  </form>
  
  <form [formGroup]="searchFormCountryCategory" (ngSubmit)="onSubmitCountryCategory()" *ngIf="countrySwitch" class="form">
    <div formGroupName="parameters" class="form--group">
      <div class="form__group--row">
        <div class="form__control">
          <label for="country" class="form__label">country</label>
          <select #country id="country" formControlName="country" class="form__input">
            <option value="{{country}}" *ngFor="let country of availableCountries">{{country}}</option>
          </select>
        </div>
        <div class="form__control">
          <label for="category" class="form__label">category</label>
          <select #category id="category" formControlName="category" class="form__input">
            <option value="{{category}}" *ngFor="let category of availableCategories">{{category}}</option>
          </select>
        </div>
      </div>
        <div class="form__control">
          <label for="Phrase" class="form__label">phrase</label>
          <input id="Phrase" formControlName="q" type="text" class="form__input">
        </div>
    </div>
    <!-- <div class="form__control">
      <label for="pageSize" class="form__label">page size :</label>
      <input id="pageSize" formControlName="pageSize" type="number" class="form__input">
    </div> -->
    <div class="form__button-wrap">
      <button type="submit" [disabled]="!searchFormCountryCategory.valid" class="form__button">send</button>
    </div>
  </form>      
</div>
