.search-form {
    max-width: 50rem;
    margin: 0 auto;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    border: 1px solid blue;
}

.form-switch {
    display: flex;
    flex-direction: row;
    align-items: center;

    &__divider {
        font-size: 2rem;
    }

    &__label {
        margin-left: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

.form {
    display: flex;
    flex-direction: column;

    &__group {
        display: flex;
        flex-direction: column;

        &--row {
            display: flex;
            flex-direction: row;
        }
    }

    &__control {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin-bottom: 10px;

        &:first-child {
            margin-right: 1rem;
        }
    }

    &__input {
        height: 2rem;
        padding-left: 1rem;
    }

    &__label {
        text-transform: capitalize;
    }
}

// .form-switch {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     &--control {
//         display: flex;
//         flex-direction: column;
//     }
// }

// .form {
//     display: flex;
//     flex-direction: column;
//     flex-grow: 1;
//     padding: 15px;
//     border: 2px solid black;
//     border-radius: 25px;
//     position: relative;

//     &::after {
//         content: '';
//         position: absolute;
//         width: 500px;
//         background-color: rgb(233, 237, 239);
//         top: -2px;
//         height: 4px;
//         left: calc(50% - 250px);
//     }

//     &--control {
//         display: flex;
//         flex-direction: column;
//         margin: 0 auto 10px auto;
//         width: 100%;
//     }

//     &--label {
//         margin-bottom: 5px;
//         text-transform: uppercase;
//         font-weight: bold;
//     }

    
//     &--input {
//         // padding: 8px;
//         // border-radius: 10px;
//         // outline: none;
        
        
//     }
//     input[type=text], input[type=number], select{   
//         appearance: none;
    
//         border-radius: 5px;
//         border: 1px solid #BBB;
//         padding: 8px;
//         line-height: 20px;
//         // text-align: center;
//         background: white;
//         outline: none;

//         &:focus {
//             // outline: solid 5px #FC5185;
//             transition: box-shadow 1s ease;
//             box-shadow: 0 0 0 1pt lightblue;
//         }
//     }

//     &--button-wrap {
//         display: flex;
//         justify-content: flex-start;
//     }

//     &--button {
//         padding: 10px 30px;
//         text-transform: uppercase;
//         font-weight: bold;
//         border: none;
//         color: rgb(245, 244, 244);
//         background-color: rgb(10, 10, 10);
//         text-align: center;
//         border-radius: 5px;
//         letter-spacing: 4px;

//         &:disabled {
//             background-color: rgb(95, 95, 95);
//         }
//     }
// }

