<div class="form-wrapper">
 <div class="form-photo"></div>
  <div class="search-form"  [@fadeInOut]>
    <div class="search-form__header">
      <p class="search-form__message">Find news from all over the World</p>
      <p class="search-form__info">search for articles using many options with switch mode</p>
    </div>
  
    <div class="form-switch">
      <div class="onoffswitch">
          <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" (change)="switchMode()">
          <label class="onoffswitch-label" for="myonoffswitch">
              <span class="onoffswitch-inner"></span>
              <span class="onoffswitch-switch"></span>
          </label>
      </div>
      <div class="form-switch__label">
        <span class="form-switch__option" [ngClass]="{'form-switch__option--inactive': !countrySwitch}">country & category</span><span
          class="form-switch__divider">/</span><span class="form-switch__option"
          [ngClass]="{'form-switch__option--inactive': countrySwitch}">sources</span>
      </div>
    </div>
  
    <form [formGroup]="searchFormSources" (ngSubmit)="onSubmitSources()" *ngIf="!countrySwitch" class="form" >
      <div formGroupName="parameters" class="form__group">
        <div class="form__control">
          <label for="sources" class="form__label">sources <span class="form__hint">(separate by comma)</span></label>
          <input #sources id="sources" formControlName="sources" type="text" class="form__input">
        </div>
        <div class="form__control">
          <label for="Phrase" class="form__label">phrase</label>
          <input id="Phrase" formControlName="q" type="text" class="form__input">
        </div>
      </div>
      <span *ngIf="checkControls(searchFormSources)" class="form__warning">
        <i class="fas fa-exclamation-circle"></i> one of the above parameters is required
      </span>
      <div class="form__control">
        <label for="pageSize" class="form__label">page size :</label>
        <input id="pageSize" formControlName="pageSize" type="number" class="form__input" placeholder="Set max number of articles per site (default is 20)">
      </div>
      <span *ngIf="!searchFormSources.get('pageSize').valid && searchFormSources.get('pageSize').dirty" class="form__warning">
          <i class="fas fa-exclamation-circle"></i> number has to be between 1 and 100
      </span>
      <div class="form__button-wrap">
        <span class="form__button form__button--reset" (click)="resetForm(this.searchFormSources)">reset</span>
        <button type="submit"   class="form__button form__button--send">send</button>
      </div>
    </form>
  
    <form [formGroup]="searchFormCountryCategory" (ngSubmit)="onSubmitCountryCategory()" *ngIf="countrySwitch"
      class="form">
      <div formGroupName="parameters" class="form__group" [ngClass]="{'form__group--invalid': checkControls(searchFormCountryCategory)}">
        <div class="form__group--row">
          <div class="form__control form__control--space">
            <label for="country" class="form__label">country</label>
            <select #country id="country" formControlName="country" class="form__input">
              <option value="{{country}}" *ngFor="let country of availableCountries">{{country}}</option>
            </select>
          </div>
          <div class="form__control">
            <label for="category" class="form__label">category</label>
            <select #category id="category" formControlName="category" class="form__input">
              <option value="{{category}}" *ngFor="let category of availableCategories">{{category}}</option>
            </select>
          </div>
        </div>
        <div class="form__control">
          <label for="Phrase" class="form__label">phrase</label>
          <input id="Phrase" formControlName="q" type="text" class="form__input">
        </div>
      </div>
      <span *ngIf="checkControls(searchFormCountryCategory)" class="form__warning">
        <i class="fas fa-exclamation-circle"></i> one of the above parameters is required
      </span>
      <div class="form__control">
        <label for="pageSize" class="form__label">page size :</label>
        <input id="pageSize" formControlName="pageSize" type="number" class="form__input" placeholder="Set max number of articles per site (default is 20)" min="1" max="100">
      </div>
      <span *ngIf="!searchFormCountryCategory.get('pageSize').valid && searchFormCountryCategory.get('pageSize').dirty" class="form__warning">
          <i class="fas fa-exclamation-circle"></i> number has to be between 1 and 100
      </span>
      <div class="form__button-wrap">
        <span class="form__button form__button--reset" (click)="resetForm(this.searchFormCountryCategory)">reset</span>
        <button type="submit" [disabled]="!searchFormCountryCategory.valid" class="form__button form__button--send">send</button>
      </div>
    </form>
  </div>

</div>
